* {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}

  :root {
      --title-color: #212121;
      --text-color: #757575;
      --color-button: #ffff;
      --primary-background: #2F303A;
      --color-link-title: #2196f3;
      --background-button: #2196f3;
      --main-title-color: #ffff;
      --our-team-background: #F5F4FA;
      --address-text-color: #ffff;
      --color-link-footer: #ffff;
      --company-text-color: #000000;
      --background-portfolio-button: #F5F4FA;
  }

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: o;
}
body {
   font-family: Roboto, sans-serif;
   margin: 0;
}
   
.header {
   box-sizing: border-box;
   border-bottom: 1px solid #ECECEC;
   padding-top: 24px;
   padding-bottom: 24px;
}
.header-port {
   display: flex;
   align-items: center;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.main-nav {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
}
.list-container {
   display: flex;
   padding-right: 20px;
}





.logo-blue {
font-family: Raleway;
color: #2196F3;
font-weight: 900;
font-size: 26px;
letter-spacing: 0.03em;
line-height: 1.2;
list-style: none;
margin-left: 214px;
}

.logo, .logo-footer {
font-family: Raleway;
color: black;
font-weight: 900;
font-size: 26px;
letter-spacing: 0.03em;
line-height: 1.2;
margin-left: 218px;
}
.logo-footer {
   padding-top: 60px;
}

/*стили для сылок*/

* li, a  {
   list-style: none;
   text-decoration: none;
}
.list {
   display: flex;
   }


.link {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0,02em;
   color: #212121;
   padding-left: 80px;
}
.link-active {
   font-family: Roboto;
   font-style: normal;
   color: #2196F3;
   letter-spacing: 0.02em;
   font-weight: 500;
   font-size: 14px;
   list-style: none;
}
.link:hover {
   color: #2196F3;
}
.link-grey {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   color: #757575;
   letter-spacing: 0.02em;
   line-height: 1.2em;
   font-weight: 500;
   font-size: 14px;
   list-style: none;
   
}


.link-grey:hover {
   color: #2196F3;
   
}

.contacts {
   display: flex;
   margin-left: auto;
   margin-top: 32px;
   margin-bottom: 32px;
}



/*main section webstudio*/

.hero {
   background: var(--primary-background);
   text-align: center;
   padding-top: 94px;
   padding-bottom: 94px;
   display: block;
}
.hero-box {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
 .hero-text {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.65;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-title-color);
}
.hero-text-section {
   margin-top: 200px;
}
 .button {
   background: var(--background-button);
   cursor: pointer;
   font-family: inherit;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--color-button);
 }
.button-section {
   margin-bottom: 200px;
}
 


button, button:active, button:focus {
   outline: none;
}

//*middle section*//

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.midd-section {
   display: flex;
   justify-content: center;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.hide-text {
   display: none;
}
.middle-list {
   display: flex;
}
.midle-list.item:not(:last-child) {
   margin-right: 30px;
}
.item {
   margin-right: 30px;
}
.text-list {
   color: #212121;
   line-height: 1.1;
   letter-spacing: 0.03em;
   font-weight: 900;
   font-size: 14px;
   text-transform: uppercase;
}
.grey-text {
   color: #757575;
   line-height: 1.7;
   font-weight: 400;
   letter-spacing: 0.03em;
   font-size: 14px;
   text-align: left;
}
//*What we do section*//

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.section-description {
   font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: color: var(--title-color);
    margin-bottom: 50px;
}
.what-we-do-description {
   display: flex;
   justify-content: center;
}
.container {
   max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.what-we-do-list {
   display: flex;
   align-items: center;
}

/*our team*/

.our-team-section {
   background: var(--our-team-background);
   padding-top: 94px;
   padding-bottom: 94px;
}

.our-team-box {
   padding: 30px 32px;
   box-sizing: border-box;
}
.our-team-item {
    border-left: 1px solid #ececec;
   border-right: 1px solid #ececec;
   border-bottom: 1px solid #ececec;
}
.our-team-item:not(:last-child) {
   margin-right: 30px;
}
.team-content-list {
   background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}
.last-list {
   display: flex; 
}
.worker-name {
  color: #212121;
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.03em;
   font-weight: 500;
   font-size: 16px;
}
.grey-prof {
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
}

/*footer*/

.footer {
 background: #2F303a;
}
.footer-div {
   padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}

   
   .footer-list {
      width: 230px;
      padding-left: 216px;
 }

.logo-footer {
   padding-top: 60px;
}
 .studio {
    padding-top: 60px;
   color: #fff;
}
.address {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   color: #fff;
   line-height: 1.7;
   letter-spacing: 0.03em;
   font-size: 14px;
}
.mail {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.tele {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
   }
.address:hover, .mail:hover, .tele:hover {
   color:#2196F3;
}

 

/*Portfolio styles*/



.main-section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.btn-list {
   display: flex;
    justify-content: center;
    margin-bottom: 34px;
  
}
   
.padding-item:not(:last-child) {
   margin-right: 8px;
}
   
.btn-port {
   font-family: inherit;
   background: var(--background-portfolio-button);
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   border: 0;
   margin-right: 8px;
   color: var(--title-color);
}
.btn-port:hover {
   background: #2196F3;
   color:#fff;
   cursor: pointer;
}
   
.btn-port-active {
   font-family: Roboto;
   font-style: normal;
   background: #2196F3;
   color: #fff;
   text-align: center;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   border-radius: 4px;
   border-collapse: collapse;
   cursor: pointer;
}

//*flex-list cardset container*//

.flex-list {
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
    
}
.flex-list > .flex-item {
   flex basis: calc((100%-90px) / 3);
   margin-left: 30px;
    margin-top: 30px;
}
.img-text {
   padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
}


.img-text {
   border: 1px solid #EEE;
   padding-top: 0;
}
.poster-name {
   font-family: Roboto;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: #212121;
}
.poster-desc {
   font-family: Roboto;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.03em;
   color: #757575;
}
