* {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}

   :root {
      --title-color: #212121;
      --text-color: #757575;
      --color-button: #ffff;
      --primary-background: #2F303A;
      --color-link-title: #2196f3;
      --background-button: #2196f3;
      --main-title-color: #ffff;
      --our-team-background: #F5F4FA;
      --address-text-color: #ffff;
      --color-link-footer: #ffff;
      --company-text-color: #000000;
      --background-portfolio-button: #F5F4FA;
  }

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: o;
}
body {
   background: #e5e5e5; 
   color:black;
   font-family: Roboto;
}

   
.header {
   box-sizing: border-box;
   width: 1600px;
   border-bottom: 1px solid #ECECEC;
}
.header-port {
   display: flex;
   align-items: center;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.main-nav {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
}
.list-container {
   display: flex;
   padding-right: 20px;
}

   

.container {
    width: 1600px;
}



.logo-blue {
font-family: Raleway;
color: #2196F3;
font-weight: 900;
font-size: 26px;
letter-spacing: 0.03em;
line-height: 1.2;
list-style: none;
}

.logo, .logo-footer {
font-family: Raleway;
color: black;
font-weight: 900;
font-size: 26px;
letter-spacing: 0.03em;
line-height: 1.2;
margin-left: 218px;
}
.logo-footer {
   padding-top: 60px;
}

/*стили для сылок*/

* li, a  {
   list-style: none;
   text-decoration: none;
}
.list {
   display: flex;
   }


.link {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0,02em;
   color: #212121;
   padding-left: 80px;
}
.link-active {
   font-family: Roboto;
   font-style: normal;
   color: #2196F3;
   letter-spacing: 0.02em;
   font-weight: 500;
   font-size: 14px;
   list-style: none;
}
.link:hover {
   color: #2196F3;
}
.link-grey {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   color: #757575;
   letter-spacing: 0.02em;
   line-height: 1.2em;
   font-weight: 500;
   font-size: 14px;
   list-style: none;
   
}


.link-grey:hover {
   color: #2196F3;
   
}

.contacts {
   display: flex;
   margin-left: auto;
   margin-top: 32px;
   margin-bottom: 32px;
}



/*main section webstudio*/

.hero {
   background: var(--primary-background);
   text-align: center;
   padding-top: 94px;
   padding-bottom: 94px;
   display: block;
}
.hero-box {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
 .hero-text {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.65;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-title-color);
}
.hero-text-section {
   margin-top: 200px;
}
 .button {
   background: var(--background-button);
   cursor: pointer;
   font-family: inherit;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--color-button);
 }
.button-section {
   margin-bottom: 200px;
}
 


button, button:active, button:focus {
   outline: none;
}

//*middle section*//

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.middle-section {
   display: flex;
   justifu-content: center;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.hide-text {
   display: none;
}
.middle-list {
   display: flex;
}
.midle-list.item:not(:last-child) {
   margin-right: 30px;
}
.item {
   margin-right: 30px;
}
.text-list {
   color: #212121;
   line-height: 1.1;
   letter-spacing: 0.03em;
   font-weight: 900;
   font-size: 14px;
   text-transform: uppercase;
}
.grey-text {
   color: #757575;
   line-height: 1.7;
   font-weight: 400;
   letter-spacing: 0.03em;
   font-size: 14px;
   text-align: left;
}
//*What we do section*//

.what-we-do {
   width: 1200px;
   padding-top: 94px;
   padding-bottom: 94px;
   margin-left: 200px;
   margin-right: 200px;
}
.what-we-do-list {
   display: flex;
   width: 1200px;
   margin-left: 200px;
   margin-right: 200px;
   
   
}


.h2-description {
   color: #212121;
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.03em;
   font-weight: 900;
   font-size: 36px;
   padding-top: 94px;
}
/*our team*/

.our-team {
   background: #f5f4f5;
   width: 1600px;
   margin: 0;
   padding-top: 94px;
   padding-bottom: 94px;
}
.h2-description {
   padding-bottom: 50px;
}
.last-list {
   display: flex;
   width: 1200px;
   margin-left: 200px;
   margin-right: 200px;
   padding-bottom: 94px;
   padding-top: 94px; 
}
.worker-name {
   color: #212121;
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.03em;
   font-weight: 500;
   font-size: 16px;
}
.grey-prof {
   color:#757575;
   font-weight: 400;
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.03em;
   font-size: 16px;
}

/*footer*/

.footer {
 background: #2F303a;
 padding-left: 0;
 width: 1600px;
 height: 252px;
}
   
   .footer-list {
      width: 230px;
      padding-left: 216px;
 }

.logo-footer {
   padding-top: 60px;
}
 .studio {
    padding-top: 60px;
   color: #fff;
}
.address {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   color: #fff;
   line-height: 1.7;
   letter-spacing: 0.03em;
   font-size: 14px;
}
.mail {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.tele {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
   }
.address:hover, .mail:hover, .tele:hover {
   color:#2196F3;
}

 

/*Portfolio styles*/

.header-portfolio {
   width: 1600px;
   border-bottom: 1px solid #ECECEC;
}

//*Main section*//

.main-section {
   width: 1200px;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 94px;
   margin-left: auto;
   margin-right: auto;
}
.btn-list {
   display: flex;
   width: 611px;
   padding-top: 94px;
   padding-left: 494px;
  
}
   
.padding-item {
   margin-right: 8px;
   
   
}
   
.btn-port {
   font-family: Roboto;
   font-style: normal;
   background: #F5F4FA;
   color: #212121;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   border-radius: 4px;
   border-collapse: collapse;
   cursor: pointer;
}

.btn-port:hover {
   background: #2196F3;
   color:#fff;
   cursor: pointer;
}
   
.btn-port-active {
   font-family: Roboto;
   font-style: normal;
   background: #2196F3;
   color: #fff;
   text-align: center;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   border-radius: 4px;
   border-collapse: collapse;
   cursor: pointer;
}

//*flex-container*//

.flex-container {
   width: 1200 px;
   padding-top: 94px;
   padding-bottom: 94px;
   margin-left: auto;
   margin-right: auto;
}
.flex-list {
   display: flex;
   flex-wrap: wrap;
   padding-top: 94px;
   padding-bottom: 94px;
   margin-left: 200px;
   
}
   

.flex-item {
   margin-right: 30px;
   margin-bottom: 30px;

}
.flex-item:nth-child(3n) {
   margin-right: 0;
}
.flex-item:nth-child(-n + 3) {
   margin-bottom: 0;
}
.img-text {
   border: 1px solid #EEE;
   padding-top: 0;
}
.poster-name {
   font-family: Roboto;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: #212121;
}
.poster-desc {
   font-family: Roboto;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.03em;
   color: #757575;
}